accelerate==1.5.2
diffusers==0.32.2
numpy==2.2.4
opencv==4.7.0
opencv_contrib_python==4.10.0.84
opencv_python==4.8.0.74
Pillow==11.1.0
safetensors==0.5.3
torch==2.3.0+cu121
torch_xla==2.6.0
torchvision==0.18.0
tqdm==4.66.1
transformers==4.50.3
